table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  i.edit{
    color: #d9cd26;
    margin-right: 10px;
  }
  i.delete{
    color: red;
  }